<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>推荐系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="http://echarts.baidu.com/examples/vendors/jquery/jquery.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
</head>
<body style="height: 100%">
	<div class="container">
	    <header class="blog-header py-3">
	    </header>
		<div class="bg-dark jumbotron text-white">
				<div class="needs-validation">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="age">年龄</label> <input type="text" class="form-control" id="age" placeholder="" value="25" required="">
							<div class="invalid-feedback">Valid last name is required.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="year">车龄</label> <input type="text" class="form-control" id="year" placeholder="" value="0" required="">
							<div class="invalid-feedback">Valid first name is required.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="country">车辆性质</label> 
							<select class="custom-select d-block w-100" id="vtype" required="">
								<option title="家庭自用车" value="309001-359002" data-index="1">家庭自用车</option>
								<option title="机关、事业单位用车" value="309002-359002" data-index="2">机关、事业单位用车</option>
								<option title="企业非营业车" value="309004-359002" data-index="3">企业非营业车</option>
								<option title="营业特种车" value="309005-359001" data-index="4">营业特种车</option>
								<option title="非营业特种车" value="309005-359002" data-index="5">非营业特种车</option>
								<option title="摩托车" value="309008-359002" data-index="6">摩托车</option>
								<option title="拖拉机" value="309009-359002" data-index="7">拖拉机</option>
								<option title="城市公交营业客车" value="309012-359001" data-index="8">城市公交营业客车</option>
								<option title="非营业货车" value="309014-359002" data-index="9">非营业货车</option>
								<option title="营业货车" value="309015-359001" data-index="10">营业货车</option>
								<option title="出租、租赁" value="309016-359001" data-index="11">出租、租赁</option>
								<option title="公路营运" value="309017-359001" data-index="12">公路营运</option>
								<option title="非营业挂车" value="309035-359002" data-index="13">非营业挂车</option>
								<option title="营业挂车" value="309036-359001" data-index="14">营业挂车</option>
								<option title="营业特种车挂车" value="309041-359001" data-index="15">营业特种车挂车</option>
								<option title="非营业特种车挂车" value="309041-359002" data-index="16">非营业特种车挂车</option>
							</select>
							<div class="invalid-feedback">Please select a valid country. </div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="state">车主性质</label> 
							<select class="custom-select d-block w-100" id="vtype2" required="">
								<option title="个人" value="1" data-index="0" selected="selected">个人</option>
								<option title="企业" value="3" data-index="1">企业</option>
								<option title="机关" value="2" data-index="2">机关</option>
							</select>
							<div class="invalid-feedback">Please provide a valid state. </div>
						</div>
					</div>
					<div class="mb-3">
						<label for="address">地区</label> <input type="text" class="form-control" id="address" placeholder="可选" required="">
						<div class="invalid-feedback">Please enter your shipping address.</div>
					</div>
					<div class="row">
						<div style="width:100%;text-align: center;">
							<button style="width:20%" class="btn btn-primary" onclick="r()" type="submit">推荐</button>
						</div>
					</div>
			</div>
			<hr class="mb-4">
			<div class="row form-horizontal">
				<div class="col-md-7">
					<div id="container" style="height: 600px"></div>
				</div>
				<div class="col-md-5">
					<ol class="list-unstyled mb-0" id="re">
		              <li><a href="#">February 2014</a><ul class=" mb-0" id="re">
		              <li><a href="#"></a></li>
		              <li><a href="#">a 2014</a></li>
		              <li><a href="#">b 2014</a></li>
		              <li><a href="#">c 2013</a></li>
		              <li><a href="#">d 2013</a></li>
		              <li><a href="#">e 2013</a></li>
		              <li><a href="#">f 2013</a></li>
		              <li><a href="#">g 2013</a></li>
		              <li><a href="#">h 2013</a></li>
		              <li><a href="#">i 2013</a></li>
		              <li><a href="#">j 2013</a></li>
		              <li><a href="#">k 2013</a></li>
		            </ul></li>
		              <li><a href="#">February 2014</a></li>
		              <li><a href="#">January 2014</a></li>
		              <li><a href="#">December 2013</a></li>
		              <li><a href="#">November 2013</a></li>
		              <li><a href="#">October 2013</a></li>
		              <li><a href="#">September 2013</a></li>
		              <li><a href="#">August 2013</a></li>
		              <li><a href="#">July 2013</a></li>
		              <li><a href="#">June 2013</a></li>
		              <li><a href="#">May 2013</a></li>
		              <li><a href="#">April 2013</a></li>
		            </ol>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var dom = document.getElementById("container");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;
		option = {
	   // title: {text: '基础雷达图',color:'#000'},
	    tooltip: {},
	    legend: {
	        data: ['实际开销（Actual Spending）']
	    },
	    radar: {
	        // shape: 'circle',
	        name: {
	            textStyle: {
	                color: '#fff',
	                backgroundColor: '#999',
	                borderRadius: 3,
	                padding: [3, 5]
	           }
	        },
	        indicator: [
	           { name: '意外', max: 5},
	           { name: '家财', max: 5},
	           { name: '车服', max: 5},
	           { name: '重疾', max: 5},
	           { name: '责任', max: 5},
	        ]
	    },
	    series: [{
	        name: '预算 vs 开销（Budget vs spending）',
	        type: 'radar',
	        areaStyle : {
				normal : {
					opacity : 0.5,
					color : new echarts.graphic.RadialGradient(0.5,0.5, 1, [{color : '#EFF',offset : 0}, {color : 'blue',offset : 1}])
				}
			},
	        data : [
	            {
	                value : [2, 1, 4, 3, 5],
	                name : '预算分配（Allocated Budget）',
	            }
	        ]
	    }]
		};
	
		if (option && typeof option === "object") {
		    myChart.setOption(option, true);
		};
		
		function r(){
			var pd = {
				"vtype":$("#vtype").find("option:selected").text(),
				"vtype2":$("#vtype2").find("option:selected").text(),
				"age":$("#age").val(),
				"year":$("#year").val(),
				"address":$("#address").val(),
			};
			$.post("/r/give",pd , function(data) {
				console.log(data);
				var arr = []
				for (var i in data) {
				    arr.push(data[i]);
				}
				option.series[0].data[0].value = arr;
				myChart.setOption(option, true);
				//$('#re').append("<li><a href='#'>家财</a></li>");
				
				/* for (var i = 0; i < data.length; i++) {
					for(var j = 0;j<data.length-i-1;j++){
						console.log(data[j]);
						if(data[j]>data[j+1]){
							var swap=data[j];
							data[j]=data[j+i];
							data[j+1]= swap;
						}
					}
				} */
				var sortedObjKeys = Object.keys(data).sort(function(a, b) {
				    return data[b] - data[a];
				});
				//console.log(sortedObjKeys);
				$('#re').html("");
				for (var i = 0; i < sortedObjKeys.length; i++) {
					//console.log(sortedObjKeys[i]+"--"+data[sortedObjKeys[i]]);
					//$('#re').append("<li><a href='#'>"+getv(sortedObjKeys[i])+"("+data[sortedObjKeys[i]]+")"+"</a></li>");
					var r = getv(sortedObjKeys[i],data);
					console.log(r);					
					$('#re').append(r);
					
				}
			});
		};
		var con = {
				jc:{
					1:"房屋	20-2000万元",
					2:"房屋装修	5-200万元",
					3:"室内财产	2-100万元",
					4:"室内盗抢保障	2-20万元	",
					5:"水暖管爆裂损失	1-20万元	",
					6:"家用电器用电安全	1-20万元",
					7:"居家责任	1-30万元	",
					8:"雇主财产损失	1-20万元",
					9:"家养宠物责任	0.2-1万元"
				},
				yw:{
					1:'人身意外-个人',
					2:'人身意外-家庭',
					3:'交通意外-个人',
					4:'交通意外-家庭'
				},
				zr:{
					1:'工伤及职业病身故/伤残	 10万/20万',
					2:'医疗费用报销1.5万/3万',
					3:'误工津贴 50元/天',
					4:'扩展非工作期间意外身故伤残（可选） 10万/20万'
				},
				zj:{
					1:'成人重大疾病保险 （大病保险）',
					2:'儿童·综合医疗保险',
					3:'中老年人·综合医疗保险'
				},
				cf:{
					1:'洗车',
					2:'打蜡',
					3:'机油',
					4:'三滤',
					5:'防冻液'
				}
			}
		/**
		 * 脑残推荐
		 *
		 */
		function getv(key, data){
			var vtype = $("#vtype").find("option:selected").text();
			var vtype2 = $("#vtype2").find("option:selected").text();
			var age = $("#age").val();
			var year = $("#year").val();
			var address = $("#address").val();
			var r = "";
			switch(key){
				case 'jc':
					var str = "家财险";
					var jcs=[1,2,3,4,5,6,7,8,9];
					if(age>=18&&age<23){
						jcs=[9,4,3,5,6,7,1,2,8];
					}else if(age>=23&&age<=45){
						jcs=[6,7,4,3,5,1,2,9,8];
					}else if(age>45&&age<60){
						jcs=[6,1,3,4,5,8,9,2,7];
					}else if(age>=60){
						jcs=[9,7,8,6,2,4,1,3,5];
					}
					var jcsStr="<ul class='mb-0' id='re'>";
					for(var i=0;i<jcs.length;i++){
						jcsStr+="<li><a href='#'>"+con.jc[jcs[i]]+"</a></li>";
					}
					jcsStr = jcsStr+"<ul>";
					r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a>"+jcsStr+"</li>"
					//r = "<li><a href='#'>"+str+"("+data['jc']+")"+"</a><ul class='mb-0' id='re'><li><a href='#'>房屋</a></li><li><a href='#'>房屋装修</a></li><li><a href='#'>室内财产</a></li></ul></li>";
					break;
				case 'yw':
					var str = "意外险";
					var yws = [1,2,3,4];
					if(age>=18&&age<23){
						yws=[1,3];
					}else if(age>=23&&age<=45){
						yws=[2,4];
					}else if(age>45&&age<60){
						yws=[2,4,1,3];
					}else if(age>=60){
						yws=[1,3,2,4];
					}
					var ywsStr="<ul class='mb-0' id='re'>";
					for(var i=0;i<yws.length;i++){
						ywsStr+="<li><a href='#'>"+con.yw[yws[i]]+"</a></li>";
					}
					ywsStr = ywsStr+"<ul>";
					r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a>"+ywsStr+"</li>"
					//r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a><ul class='mb-0' id='re'><li><a href='#'>旅游</a></li><li><a href='#'>交通</a></li></ul></li>"
					break
				case 'zr':
					var str= "责任险";
					var zrs = [1,2,3,4];
					if(year == 0){
						zrs=[4,3,1,2];
					}else if(year> 0&&year <3){
						zrs=[2,1,4,3];
					}else if(year>= 3&&year <10){
						zrs=[1,3,2,4];
					}
					var zrsStr="<ul class='mb-0' id='re'>";
					for(var i=0;i<zrs.length;i++){
						zrsStr+="<li><a href='#'>"+con.zr[zrs[i]]+"</a></li>";
					}
					zrsStr = zrsStr+"<ul>";
					r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a>"+zrsStr+"</li>"
					//r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a><ul class='mb-0' id='re'><li><a href='#'>公众责任保险</a></li><li><a href='#'>第三者责任险</a></li><li><a href='#'>产品责任保险</a></li><li><a href='#'>雇主责任保险</a></li><li><a href='#'>职业责任保险</a></li><ul></li>"
					break
				case 'zj':
					var str= "重大疾病保险";
					var zjs = [1,2,3];
					if(age>=18&&age<23){
						zjs = [1,2,3];
					}else if(age>=23&&age<=45){
						zjs = [2,1,3];
					}else if(age>45){
						zjs = [3,2,1];
					}
					var zjsStr="<ul class='mb-0' id='re'>";
					for(var i=0;i<zjs.length;i++){
						zjsStr+="<li><a href='#'>"+con.zj[zjs[i]]+"</a></li>";
					}
					zjsStr = zjsStr+"<ul>";
					r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a>"+zjsStr+"</li>"
					break
				case 'cf':
					var str = "车辆相关服务";
					var cfs = [1,2,3,4,5];
					if(year == 0){
						cfs=[2,3,1,5,4];
					}else if(year> 0&&year <3){
						cfs=[3,1,2,4,5];
					}else if(year>= 3&&year <10){
						cfs=[3,4,5,1,2];
					}
					var cfsStr = "<ul class='mb-0' id='re'>";
					for(var i=0;i<cfs.length;i++){
						cfsStr+="<li><a href='#'>"+con.cf[cfs[i]]+"</a></li>";
					}
					cfsStr = cfsStr+ "<ul>";
					r = "<li><a href='#'>"+str+"("+data[key]+")"+"</a>"+cfsStr+"</li>"
					break
				default:
					break;
			}
			return r;
		}
		(function() {
			r();
		})();
	</script>
	
</body>
</html>